@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Karla:wght@200;500;700&display=swap');

:root {
    --fonte-titulo: 'Karla', sans-serif;
    --fonte-texto: 'Inconsolata', monospace;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    list-style: none;
    background-color: rgb(231, 240, 255);
}

input {
    padding: 24px;
    font-size: 21px;
    font-family: var(--fonte-titulo);
    border-radius: 50px;
    background-color: white;
}



button {
    margin-top: 40px;
    width: 20%;
    padding: 10px;
    font-family: var(--fonte-texto);
    font-size: 1em;
    cursor: pointer;
}

button:hover {
    transition: 0.3s;
    background-color: rgb(195, 209, 243);
    font-weight: bold;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

h1 {
    margin: 5%;
    font-family: var(--fonte-titulo);
    font-size: 2.5em;
}

h3 {
    font-family: var(--fonte-texto);
    margin-bottom: 20px;
}

h4 {
    margin-top: 30px;
    font-family: var(--fonte-titulo);
}

p {
    font-size: 44px;
    font-family: var(--fonte-texto);
    margin-bottom: 30px;
}

table {
    border: 2px solid;
    padding: 20px;
    width: 20%;
    margin: auto auto;
}

.container {
    margin: auto auto;
    background-color: rgb(255, 255, 255);
    font-size: 24px;
    padding: 20px;
    width: 20%;
    border: 2px solid;
}

.resultado-container {
    margin: auto auto;
    background-color: yellow;
    font-size: 24px;
    padding: 20px;
    width: 20%;
    border: 2px solid;
}